.Rproj.user
.Rhistory
.RData
.Ruserdata
*.pptx
*.csv
*.feather
*.numbers
phantomjs-2.1.1-macosx
renv
*.pdf
test_place_names_acc
.DS_Store
*.html
compute_time.R
*.rds
*.png
*.svg
/ioslides-presentation_cache
/ioslides-slides_cache
/lib
*.log
*.tex
